<!DOCTYPE html>

{% load static %}

<html>
<head>
  <link rel="stylesheet" href="{% static "css/styles.css" %}" />
  <meta charset="utf-8">
  <title>{% block title %}Best MMORPG Ever{% endblock %}</title>
</head>
<body>
  <header>
    <div class="header">
      <a href="/">Home</a>
      <a href="/announce">Posts</a>
      <a href="/comments">Comments</a>
      <a href="/announce_create">Create post</a>
    </div>
  </header>
  <main>  
    
      {% block content %}
      {% endblock %}

  </main>

</body>
</html>