<!DOCTYPE html>

{% load static %}

<html>
<head>
  <link rel="stylesheet" href="/static/css/styles.css?{% now "U" %}"/>

  <meta charset="utf-8">
  <title>{% block title %}Best MMORPG Ever{% endblock %}</title>
</head>
<body>
  <header>
    
      <a href="/">Home</a>
      <a href="/announce">Posts</a>
      <a href="/comments">Comments</a>
      <a href="/announce_create">Create post</a>
      
      <p>
        {% if user.is_authenticated %}
          Hi, {{user}}
        {% else %}
          Hi, Anonymous
        {% endif %}
      </p>
   
  </header>
  <main>  
    
      {% block content %}
      {% endblock %}

  </main>

    <footer>
      hello footer
    </footer>
</body>
</html>